# Ansible managed

# This does not change any existing databases or rows, only the defaults for newly created databases

[client]
default-character-set=utf8

[mysql]
default-character-set=utf8


[mysqld]
collation-server = utf8_general_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
